@page {

    size: A4 portrait;
    margin: 25mm 10mm 25mm 10mm;

    color: grey;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4mm;
    /*white-space: pre;*/

    counter-increment: page;

    @bottom-left {
        content: '© 2023 My Company';
    }

    @bottom-center {
        content: 'My document';
    }

    @bottom-right {
        content: 'Page ' counter(page);
    }

}
